@model List<MyIdentityUser>
@section Styles{
    @await Html.PartialAsync("_DataTablesCssPartial")
}
    @section Scripts{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}

    <div class="row">
        <div class="col-md-12">
            <h6 class="display-4">User List</h6>
            <hr />
            <a asp-controller="Admin"
           asp-action="UserCreate"
           class="btn btn-sm btn-continue" style="background-color:mediumseagreen">Create User</a>
            <hr />
            <table class="table table-sm table-striped table-hover" id="myTable">
                <thead>
                    <tr class="fw-bold">
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>User Name</td>
                        <td>Email</td>
                        <td>Email Confirmed</td>
                        <td class="text-center" >Actions</td>
                    </tr>
                </thead>
                <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td width="50">@user.EmailConfirmed</td>
                            <td> <div class="row justify-content-end me-4">
                                    <div class="col-md-4">
                                        <a asp-controller="Admin"
                                   asp-action="ChangeUserPassword"
                                   asp-route-id=@user.Id
                                   class="btn btn-sm btn-info me-2">Change Password</a>
                                    </div>
                                    <div class="col-md-2 ">
                                         <a asp-controller="Admin"
                           asp-action="UserEdit"
                           asp-route-id=@user.Id
                           class="btn btn-sm btn-warning me-2">Edit</a>
                                    </div>
                                    <div class="col-md-2">
                                        <form asp-controller="Admin"
                                      asp-action="UserDelete"
                                      asp-route-id=@user.Id
                                      method="post">
                                            <button class="btn btn-sm btn-danger me-2">Delete</button>
                                        </form>
                                    </div>
                            </div>
                               
                               
                              

                            </td>
                        </tr>
                    }
                }
                else
                {
                    @await Html.PartialAsync("_NoRecord")
                }
            </tbody>
        </table>
    </div>
</div>